header {
    background-color: #023059;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -0px;
}
.logout-btn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding-right: 20px;
}

main {
    padding: 20px;
    margin-top: 60px; /* Para evitar sobreposição do header */
    text-align: center; /* Centraliza o título */
}

h1 {
    text-align: center;
}

table {
    width: 80%; /* Define um tamanho máximo de 80% */
    margin: 20px auto; /* Centraliza a tabela */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #023059;
    color: white;
    text-align: left;
    text-align: center;
}

.cancel-btn {
    background-color: #032859;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto; /* Centraliza o botão */
}

.cancel-btn:hover {
    background-color: #084378;
    transition: 0.3s;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popout {
    background-color: #F2F2F2;
    border: 3px solid black;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    display: none;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    font-size: 15px;
    top: 16px;
    right: 26px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1BA657;
    color: #F2F2F2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 20px;
}

.btn-sim,
.btn-nao {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    background-color: #1BA657;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.btn-sim:hover,
.btn-nao:hover {
    background-color: #128345;
}
