body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3955d1;
}

header {
    background-color: #023059;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
}

.imagelogo {
    height: 30px;
}

.container {
    margin: auto;
    margin-top: 6%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.icon-calendar {
    display: block;
    margin: 0 auto 20px;
    width: 90px;
    height: 90px;
    background-image: url('/static/Group.png');
    background-size: cover;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-criar-conta {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-criar-conta:hover {
    background-color: #218838;
}

.btn-voltar {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-voltar:hover {
    background-color: #f4f4f4;
}
