/* Estilo geral */
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efeff0;
    color: black;
    font-weight: bold;
    transition: 1s;
}

/* Cabeçalho */
header {
    background-color: #023059;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    flex: 1;
    margin-top: 30px;
}

.container {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    margin-top: 50px;
    padding: 30px 95px;
    transition: 1s;
}

h1 {
    font-size: 24px;
}

.logout-btn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding-right: 20px;
}

.logout-btn:hover {
    color: #a7acb0;
}

/* Calendário */
.calendar {
    background-color: #efeff0;
    padding: 20px;
    flex: 2;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

span {
    color: #333;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.prev-month,
.next-month {
    font-weight: 900;
    font-size: 20px;
    color: #F2F2F2;
    background-color: #032859;
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.prev-month:hover,
.next-month:hover {
    background-color: #084378;
}

.current-month {
    color: black;
    font-size: 25px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.day-cell {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: .5s;
    border-radius: 10x; /* Reduzindo a curvatura dos cantos */
}

.day-cell:hover {
    background-color: #F2F2F2;
}

.day-number {
    font-size: 16px;
}

.event {
    display: block;
    font-weight: bold;
    color: #333;
}

/* Estilos mensagem de erro */
.flash-messages {
    position: relative;
    width: 100%;
    height: 60px; /* Exemplo de altura fixa */
    background-color: none; /* Exemplo de cor de fundo */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding-bottom: 0px;
}

.success, .error {
    /* Estilos das mensagens */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 80%; /* Largura máxima das mensagens */
}

.success {
    color: green;
    background-color: lightgreen;
}

.error {
    color: red;
    background-color: #FFBABA;
}

/* Estilos do formulário */
.appointment-form {
    background-color: #fff;
    padding: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    max-width: 700px;
    margin: 0px auto;
}
.appointment-form:hover,
.container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.appointment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.appointment-form input#date {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px; /* Espaçamento à direita do campo de data */
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 50px;
}
.appointment-form input,
.appointment-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 50px;
}

.time-group{
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    gap: 65px; /* Adiciona espaçamento entre os campos */
}

.building-location-group {
    display: flex;
    gap: 45px; /* Adiciona espaçamento entre os campos */
}


.time-field,
.building-field,
.location-field {
    flex: 1;
}

.submit-btn {
    background-color: #032859;
    color: #fff;
    padding: 10px; /* Reduz a largura do botão */
    border: none;
    cursor: pointer;
    width: 20%; /* Define a largura do botão */
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 20px auto; /* Centraliza o botão */
    display: block;
}

.submit-btn:hover,
.new-appointment-btn:hover {
    background-color: #084378;
}

.title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Informações do Usuário */
.user-info {
    background-color: #1BA657;
    padding: 20px;
    flex: 1;
    margin-right: 20px;
}

.username {
    font-size: 40px;
    margin: -50px 20px 50px 20px;
    color: #fff;
}

.agenda {
    font-size: 18px;
    color: #fff;
}

.user-box {
    padding: 20px;
    text-align: center;
}

.container1 {
    background-color: #1BA657;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2%;
    margin-top: 20px;
    padding: .5%;
    transition: 1s;
}

.agendamentos {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #1BA657;
    border: none;
}

.agendamento {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 50px;
    gap: 10px; /* Espaçamento entre os elementos */
}

.agendamento h3 {
    font-size: 18px;
    margin: -80px;
    flex: 1; /* Permite que o título ocupe espaço disponível */
    text-align: center; /* Centraliza o texto */
}

.details {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 2; /* Permite que os detalhes ocupem espaço disponível */
    justify-content: space-around; /* Espaça os elementos uniformemente */
    white-space: nowrap; /* Impede quebra de linha dentro do .details */
}

.details span {
    flex: 1; /* Distribui uniformemente o espaço entre os spans */
    text-align: center; /* Centraliza o texto dos spans */
    white-space: nowrap; /* Impede quebra de linha dentro dos spans */
}

.room,
.date {
    margin-right: 0; /* Removendo margem direita para espaçamento consistente */
}

.cancel-btn {
    background-color: #032859;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    flex-shrink: 0; /* Impede que o botão encolha */
    text-align: center;
}

.cancel-btn:hover {
    background-color: #084378;
    transition: 0.3s;
}

.agendavazia {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    padding: 50px;
}


/* Botão de Novo Agendamento */
.new-appointment-btn {
    background-color: #032859;
    color: #fff;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 26px;
    border-radius: 50px;
}

.hidden {
    display: none;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popout {
    background-color: #F2F2F2;
    border: 3px solid black;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    display: none;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    font-size: 15px;
    top: 16px;
    right: 26px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1BA657;
    color: #F2F2F2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 20px;
}

.btn-sim,
.btn-nao {
    cursor: pointer;
    width: 100px
