<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando conta no UniAgenda</title>
    <link rel="stylesheet" href="/static/css/cad.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="barra">
          <img class='imagelogo' src="/static/Group1.png" alt="">
        </div>
    </header>

    <div class="container">
        <div class="icon-calendar"></div>
        <h1 style="text-align: center;">UniAgenda</h1>
        <hr>
        <form action="/cadastrar" method="post">
            <legend>Cadastro</legend>
            <fieldset>
            <div class="form-group">
                {{ formcriarconta.nome.label }}
                {{ formcriarconta.nome }}
            </div>
            <div class="form-group">
                {{ formcriarconta.email.label }}
                {{ formcriarconta.email }}
            </div>
            <div class="form-group">
                {{ formcriarconta.comfirmacao_email.label }}
                {{ formcriarconta.comfirmacao_email }}
            </div>
            <div class="form-group">
                {{ formcriarconta.senha.label }}
                {{ formcriarconta.senha }}
            </div>
            <div class="form-   group">
                {{ formcriarconta.comfirmacao_senha.label }}
                {{ formcriarconta.comfirmacao_senha }}
            </div>
            </fieldset>
            {{ formcriarconta.botão_submit_criarconta }}
        </form>
        <a class="btn-voltar" href="{{url_for('login')}}">Voltar</a>
    </div>
</body>
</html>
