<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniAgenda - Seus Agendamentos</title>
  <link rel="stylesheet"    href="/static/css/home2.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <img style="height: 50px;" src="/static/Group1.png" alt="logo">
    <!-- <h1>UniAgenda</h1> -->
    <a class="logout-btn" style="text-decoration: none;" href="/logout">Sair</a>
    
  </header>

  <main style="display: flex; justify-content: flex-start;">
   
    <section class="user-info">
      <div class="user-box">
          <img src="/static/userfotopadrao.png" alt="">
          <h2 class="username">{{session.capitalize()}}</h2>
          <h4 class="agenda">Sua Agenda</h4>
      </div>
      <div class="container1">

        <div class="agendamentos">
          <div class="agendamento">
            <h3>Lab. de Informatica 03</h3>
            <div class="details">
                <span class="hora">19h às 22h</span>
              <span class="date">27/03/2024</span>
              <span class="room">G5</span>
              <button class="cancel-btn">Cancelar</button>
            </div>
          </div>
          <div class="agendamento">
            <h3>Lab. de Informatica 03</h3>
            <div class="details">
                <span class="hora">19h às 22h</span>
              <span class="date">03/04/2024</span>
              <span class="room">G5</span>
              <button class="cancel-btn">Cancelar</button>
            </div>
          </div>
          <div class="agendamento">
            <h3>Lab. de Informatica 03</h3>
            <div class="details">

                <span class="hora">19h às 22h</span>
              <span class="date">10/04/2024</span>
              <span class="room">G5</span>
              <button class="cancel-btn">Cancelar</button>
            </div>
          </div>
        </div>

        <button class="new-appointment-btn">Novo Agendamento</button>
      </div>
    </section>

    <section class="calendar">
      <div class="container">
          <!-- <h2>Seus Agendamentos</h2> border: 1px solid white; --> 
          <h2 style=" padding: 1%; font: 40px arial;font-weight: bold;color: black;">Dias disponiveis:</h2>

        <div class="calendar-nav">
          <button class="prev-month">	&#60;</button>
          <span onclick="enviar()" class="current-month">Março/2024</span>
          <button class="next-month">&#62;</button>
        </div>

        <div class="calendar-grid">
                    
        </div>
      </div>

      <div class="Form">

        <form action="/submit-appointment" method="post" class="appointment-form">
          <h2>Novo Agendamento</h2>
          <div class="form-group">
              <label for="start-time">Horário de início:</label>
              <input type="time" id="start-time" name="start_time" required>
          </div>
          <div class="form-group">
              <label for="end-time">Horário de fim:</label>
              <input type="time" id="end-time" name="end_time" required>
          </div>
          <div class="form-group">
              <label for="building">Prédio:</label>
              <select id="building" name="building" required>
                  <option value="">Selecione um prédio</option>
                  <!-- Prédios -->
              </select>
          </div>
          <div class="form-group">
              <label for="type">Tipo:</label>
              <input type="radio" id="sala" name="type" value="sala">
              <label for="sala">Sala</label>
              <input type="radio" id="laboratorio" name="type" value="laboratorio">
              <label for="laboratorio">Laboratório</label>
          </div>
          <div class="form-group">
              <label for="location">Local:</label>
              <select id="location" name="location" required>
                  <option value="">Selecione o local</option>
                  <!--  locais -->
              </select>
          </div>
          <button type="submit" class="submit-btn">Agendar</button>
        </form>

  </main>

  <script src="/static/js/home2.js"></script>
</body>
</html>
