<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Redirecting...</title>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <script>
            setTimeout(()=>{
                window.location.href = '/login';
                window.localStorage.setItem('erro' , 'erro ao entrar na conta.')
            } , 5000)
            
        </script>
    </head>
    <body>
        <p>erro ao entrar na conta.Redirecionando para a página de login...</p>
    </body>
</html>
